.advantages__title {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  @include list();
}

.advantages__list-item {
  position: relative;
  padding-left: 80px;
  padding-bottom: 26px;

  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $paragraf-font-color;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
  }

  &:nth-child(1)::before {
    background-image: url("../../images/icons/stack.svg#advantages-1");
  }

  &:nth-child(2)::before {
    background-image: url("../../images/icons/stack.svg#advantages-2");
  }

  &:nth-child(3)::before {
    background-image: url("../../images/icons/stack.svg#advantages-3");
  }

  &:nth-child(4)::before {
    background-image: url("../../images/icons/stack.svg#advantages-4");
  }
}
