.card {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  row-gap: 17px;

  &:last-child {
    grid-template-rows: repeat(3, auto);
    row-gap: 0;
  }

  &:last-child .card__title {
    position: relative;
    grid-column: 2 / 4;
    grid-row: 1;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 8px;

    font-weight: 400;
    text-align: center;
    color: #111111;
  }

  &:last-child .card__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 45%;
    width: 30px;
    height: 30px;

    background-image: url("../../images/icons/stack.svg#plus");
    background-repeat: no-repeat;
  }

  &:last-child .card__button {
    grid-row: 3;
  }
}

.card__image {
  grid-column: 2 / 3;
  grid-row: 1;

  text-align: center;
}

.card__content {
  grid-column: 3 / 4;
  grid-row: 1;
}

.card__button {
  grid-column: 2 / 4;
  grid-row: 2;
}

.card__title {
  @include link();

  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;

  & h2 {
    padding-bottom: 14px;
    margin: 0;
    font-weight: 400;
  }
}

.card__text {
  grid-column: 2 / 4;
  grid-row: 2;
  margin: 0;
  padding-bottom: 21px;

  text-align: center;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $paragraf-font-color;
}

.card__list {
  @include list();
  width: 140px;
}

.card__list-item {
  display: flex;
  justify-content: space-between;

  text-align: center;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}
