.card__title {
  @include link();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.card {
  &:last-child {
    padding-top: 25px;
  }

  &:last-child .card__title {
    position: relative;
    padding-top: 23px;
    text-align: center;
    color: #111111;
  }

  &:last-child .card__title::before {
    content: '';
    position: absolute;
    top: -23px;
    left: 45%;
    width: 30px;
    height: 30px;

    background-image: url("../../images/icons/stack.svg#plus");
    background-repeat: no-repeat;
  }
}

.card__text {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $paragraf-font-color;
}

.card__list {
  @include list();
}

.card__list-item {
  text-align: center;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
}
