.catalog-add {
  @include container();
}

.catalog-add__title {
  width: fit-content;
  position: relative;
  margin: 0;
  padding-bottom: 36px;

  font-size: 24px;
  font-weight: 400;

  background: #ffffff;
  box-shadow: -20px 0 0 #ffffff, 20px 0 0 #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: $primary-color;
    box-shadow: 100vw 0 0 $primary-color;
    z-index: -1;
  }
}

.catalog-add__item {
  padding-top: 13px;
  padding-bottom: 19px;

  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.catalog-add__list {
  margin-bottom: 35px;
}

.catalog-add__gift {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .catalog-add__title {
    padding-bottom: 80px;

    font-size: 36px;
    line-height: 36px;
  }

  .catalog-add__gift {
    margin-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-add {
    display: grid;
    justify-content: space-between;
  }

  .catalog-add__list {
    grid-column: span 3;
  }

  .catalog-add__item {
    display: flex;
    justify-content: space-between;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }

  .catalog-add__title {
    grid-column: span 4;

    border: none;
  }

  .catalog-add__gift {
    width: 245px;
    height: 288px;
  }
}
