.catalog-add {
  @include container();
}

.catalog-add__title {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 35px;

  font-size: 24px;
  font-weight: 400;
}

.catalog-add__item {
  padding-top: 13px;
  padding-bottom: 17px;

  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.catalog-add__list {
  margin-bottom: 37px;
}

.catalog-add__gift {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .catalog-add__title {
    margin-left: 40px;
    padding-bottom: 80px;

    font-size: 36px;
    line-height: 36px;
  }

  .catalog-add__list {
    margin-bottom: 69px;
  }

  .catalog-add__gift {
    margin-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-add {
    display: grid;
    justify-content: space-between;
    column-gap: 81px;
  }

  .catalog-add__title {
    margin-left: 0;
    grid-column: span 4;

    border: none;
  }

  .catalog-add__list {
    margin-bottom: 0;
    grid-column: span 3;
  }

  .catalog-add__item {
    display: flex;
    justify-content: space-between;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }

  .catalog-add__gift {
    margin-bottom: 0;
    width: 245px;
  }
}
