.coopyright {
  @include link();
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  vertical-align: middle;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;

    mask-image: url("../../images/icons/stack.svg#logo-html-academy");
    background-repeat: no-repeat;
    background-color: #666666;
  }

  &:hover::after {
    background-color: $primary-color;
  }

  &:hover span {
    color: $primary-color;
  }

  &:focus {
    opacity: 0.3;
  }
}

.coopyright__text {
  max-width: 200px;
  padding-top: 5px;
  
  font-family: $secondary-font;
  color: $paragraf-font-color;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .coopyright__text {
    padding-right: 23px;
  }
}
