.form-group {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;

  border: none;
}

.form-group__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 13px;
  align-items: center;
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $paragraf-font-color;

  &--radio {
    flex-direction: row-reverse;
    justify-content: flex-end;

    &:has(input:disabled) {
      opacity: 0.3;
    }

    & input {
      margin: 0;
      appearance: none;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      border-radius: 50%;

      &:checked {
        width: 30px;
        height: 30px;
        border: 1px solid #cdcdcd;
        background-image: radial-gradient(circle at center, $primary-color 7px, #ffffff 7px 18px);
      }
    }

    &:hover input {
      border: 1px solid #bababa;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--textarea {
    width: 100%;
    min-height: 155px;
    padding: 18px 14px 14px 15px;

    font-family: $primary-font;
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    text-transform: uppercase;

    border-radius: 0;
    border: 1px solid #d9d9d9;

    &:hover {
      border-color: #cdcdcd;
      border-radius: 0;
    }

    &:focus {
      outline: 2px solid $paragraf-font-color;
      border-radius: 0;
    }
  }

  &--checkbox {
    gap: 13px 15px;
    flex-direction: row-reverse;
    justify-content: flex-end;

    &:has(input:disabled) {
      opacity: 0.3;
    }

    & input {
      flex-grow: 0;
      padding: 0;
      margin: 0;

      appearance: none;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;

      &:checked {
        width: 30px;
        height: 30px;
        border: 1px solid #cdcdcd;
        background-image: url("../../images/icons/stack.svg#tick");
      }

      &:hover {
        border: 1px solid #bababa;
        outline: none;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}

.form-group__input-wrapper {
  position: relative;
  flex-grow: 1;

  &::after {
    content: "";
    position: absolute;
    font-size: 0;
    top: 13px;
    right: 12px;
    width: 20px;
    height: 20px;

    background-color: $text-font-color;
  }

  & input {
    width: 100%;
  }

  &--phone::after {
    mask-image: url("../../images/icons/stack.svg#phone-stroke");
  }

  &--email::after {
    mask-image: url("../../images/icons/stack.svg#email-stroke");
  }

  &:has(.form-group__item-input:focus)::after {
    background-color: $primary-color;
  }

  &:has(.form-group__item-input--error)::after {
    background-color: $error-color;
  }
}

.form-group__item-input {
  flex-grow: 1;
  padding: 14px 15px 13px 15px;

  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid #e7e7e7;
  border-radius: 0;

  &::placeholder {
    line-height: 18px;
    text-transform: uppercase;
    color: $paragraf-font-color;
  }

  &:hover {
    border-color: #cdcdcd;
    border-radius: 0;
  }

  &:focus {
    outline: 2px solid $paragraf-font-color;
    border-radius: 0;
  }

  &--error {
    outline: 2px solid $error-color;
    border: none;
  }
}


.form-group__title {
  padding-bottom: 34px;

  font-size: 24px;
  line-height: 26px;
  color: $text-font-color;
}

@media (min-width: $tablet-width) {
  .form-group {
    &--checkbox .form-group__title {
      padding-bottom: 57px;
    }

    &--comments .form-group__title {
      margin-bottom: 88px;
    }
  }

  .form-group__item {
    margin-bottom: 20px;
    gap: 14px;

    font-size: 20px;

    &--radio {
      gap: 19px;
      margin-bottom: 13px;

      & input {
        width: 40px;
        height: 40px;
        padding-top: 22px;
      }

      & input:checked {
        width: 40px;
        height: 40px;
      }
    }

    &--checkbox {
      gap: 21px;
      margin-bottom: 32px;

      & input,
      input:checked {
        width: 40px;
        height: 40px;
      }
    }

    &--textarea {
      min-height: 175px;
      padding-top: 16px;
      padding-left: 20px;
    }
  }

  .form-group__item-input {
    flex-grow: 1;
    padding: 10px 19px 10px;

    font-size: 20px;
  }

  .form-group__title {
    padding-bottom: 76px;
    font-size: 36px;
    line-height: 36px;

    br {
      display: none;
    }
  }

  .form-group__input-wrapper::after {
    top: 16px;
    right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .form-group {
    &--anketa .form-group__item:last-child {
      margin-bottom: 0;
    }

    &--comments .form-group__title {
      margin-bottom: 75px;
    }

    &--checkbox .form-group__title {
      margin-bottom: 0;
    }
  }

  .form-group__title {
    padding-bottom: 0;
    margin-bottom: 76px;
  }

  .form-group__input-wrapper {
    &::after {
      top: 17px;
      right: 16px;
    }
  }

  .form-group__item {
    &--radio input:checked {
      background-image: radial-gradient(circle at center, $primary-color 10px, #ffffff 10px 18px);
    }
  }
}
