.form {
  & .map__information {
    background-color: $basic-text-background;
  }
}

.form__text {
  @include container();
  margin: 0;
  margin-bottom: 39px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__title {
  @include container();
  padding-top: 27px;
  padding-bottom: 37px;
}

.form__item {
  padding: 0 20px;
  margin: 0;

  &--anketa {
    padding-bottom: 10px;

    border-bottom: 1px solid #d9d9d9;
  }

  &--radio {
    margin-bottom: 26px;
    padding-top: 22px;
    padding-bottom: 8px;

    border-bottom: 1px solid #d9d9d9;
  }

  &--contacts {
    padding-bottom: 10px;
  }

  &--checkbox {
    margin-bottom: 24px;
  }
}

.form__bottom {
  @include container();
  margin-bottom: 32px;
}

.form__bottom-btn {
  width: 100%;
  margin-bottom: 21px;
}

.form__bottom-text {
  display: block;
  text-align: center;

  font-family: $secondary-font;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form__title {
    margin-bottom: 17px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 0;
  }

  .form__text {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 66px;

    font-size: 20px;
    line-height: 30px;
  }

  .form__items-wrapper {
    padding-left: 70px;
    padding-right: 70px;
  }

  .form__item {
    border: none;
    padding: 0;

    &--anketa {
      margin-bottom: 52px;
    }

    &--radio {
      padding: 23px 70px 12px 27px;
      margin-bottom: 65px;
      

      border: 1px solid #e7e7e7;
    }

    &--checkbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
      width: 628px;
      margin: 0 auto;
      margin-bottom: 20px;

      & .form-group__title {
        padding-bottom: 57px;
      }
    }

    &--contacts {
      padding-left: 70px;
      padding-right: 70px;
      margin-bottom: 44px;
    }

    &--comments {
      padding-left: 70px;
      padding-right: 70px;
      margin-bottom: 45px;

      & .form-group__title {
        padding-bottom: 88px;
      }
    }
  }

  .form__bottom {
    display: flex;
    align-items: baseline;
    column-gap: 60px;
    width: 628px;
    margin: 0 auto;
    margin-bottom: 39px;
    padding-left: 0;
  }

  .form__bottom-btn {
    width: 284px;
  }

  .form__bottom-text {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    & .map__information {
      background-color: #ffffff;
    }
  }

  .form__title {
    @include container();
    margin-bottom: 55px;
  }

  .form__text {
    @include container();
    margin-bottom: 66px;
  }

  .form__items {
    margin-bottom: 79px;
  }

  .form__items-wrapper {
    @include container();
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 80px;

    & .form__item {
      width: auto;
      margin: 0;
      flex-grow: 1;
    }
  }

  .form__item {
    margin-bottom: 72px;

    &--contacts {
      @include container();
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      gap: 80px;
      margin-bottom: 70px;

      & label {
        flex-grow: 1;
      }
    }

    &--radio {
      padding-top: 25px;
      padding-left: 28px;
    }

    &--comments {
      @include container();
      margin-bottom: 70px;
    }

    &--checkbox {
      @include container();
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 60px;
    }
  }

  .form__bottom {
    @include container();
    margin-bottom: 79px;
    column-gap: 80px;
  }
}
