.form-group {
  display: flex;
  flex-direction: column;
  border: none;
}

.form-group__item {
  line-height: 18px;
  text-transform: uppercase;
  color: $paragraf-font-color;
}

.form-group__item-input {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 12px;
    width: 20px;
    height: 20px;

    background-repeat: no-repeat;
  }

  &--email::before {
    background-image: url("../../images/icons/stack.svg#email-stroke");
  }

  &--name::before {
    background-image: url("../../images/icons/stack.svg#email-stroke");
  }
}

.form-group__item-input::placeholder {
  line-height: 18px;
  text-transform: uppercase;
  color: $paragraf-font-color;
}

.form-group__title {
  font-size: 24px;
  line-height: 26px;
  color: $text-font-color;
}
