.gift {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  height: 290px;

  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/image_gift-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $primary-color;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/image_gift-mobile@2x.jpg");
  }
}

.gift__text {
  width: 161px;
  position: relative;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 43px;

  font-family: $secondary-font;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: -53px;
    left: 25%;
    width: 78px;
    height: 80px;

    background-image: url("../../images/icons/stack.svg#icon-gift");
    z-index: 4;
  }
}

@media (min-width: $tablet-width) {
  .gift {
    height: 200px;
    padding-right: 125px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: normal;

    background-position-y: 61%;
  }

  .gift__text {
    width: 161px;
    padding-top: 71px;
    text-align: left;

    &::before {
      top: 57px;
      left: -304px;
    }
  }
}

@media (min-width: $desktop-width) {
  .gift {
    display: block;
    width: 245px;
    height: 100%;
  }

  .gift__text {
    width: 203px;
    padding-top: 185px;
    padding-left: 42px;
    
    text-align: center;

    &::before {
      top: 76px;
      left: 80px;
    }
  }
}
