.logo {
  @include link();
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__text {
  margin-left: 56px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    margin-top: 25px;
  }

  .logo__text {
    margin-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    margin-top: 55px;
  }
}
