.logo {
  @include link();
  display: flex;
  align-items: center;
}

.logo__text {
  margin-left: 56px;
}

@media (min-width: $tablet-width) {
  .logo {
    margin-top: 25px;
  }

  .logo__text {
    margin-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    margin-top: 55px;
  }
}
