.logo {
  @include link();
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  width: 33px;
}

.logo__text {
  width: 101px;
  margin-left: 56px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    padding-top: 25px;
  }

  .logo__image {
    width: 60px;
  }

  .logo__text {
    margin-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    width: 70px;
  }
}
