.main-nav {
  position: relative;
  font-size: 16px;

  &--closed .site-list {
    display: none;
  }

  &--opened .site-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    background-color: #ffffff;
  }

  &--nojs .site-list {
    display: block;
  }
}
