.main-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $text-font-color;

  &--index {
    color: #ffffff;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .main-title {
    font-size: 60px;
    line-height: 60px;

    &--index {
      color: $text-font-color;
    }
  }
}
