.main-header {
  font-size: 16px;
}

.main-header__top {
  margin: 0 auto;
  padding: 13px 20px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: #e6e6e6 solid 1px;
}


@media (min-width: $tablet-width) {
  .main-header {
    @include container();
    display: flex;
    justify-content: space-between;
    gap: 66px;
  }

  .main-header__top {
    display: block;
    width: 202px;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;

    border: none;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    & .logo__text {
      width: 118px;
      height: 21px;
    }
  }
}
