.page {
  height: 100%;

  font-family: $primary-font;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  color: $text-font-color;
}

.page__body {
  min-height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page__body-header {
    margin-bottom: 60px;
  }
}

