.review {
  background-color: #eaeaea;
}

.review__title {
  margin: 0;
  @include container();
  padding-top: 25px;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.review__stats,
.review__slider {
  @include container();
}

.review__text {
  margin: 0;
  margin-bottom: 20px;

  font-family: $secondary-font;
  line-height: 18px;
  color: $paragraf-font-color;
}

.review__stats-item {
  margin-bottom: 20px;
}

.review__stats-text {
  margin-bottom: 20px;

  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .review {
    background-color: unset;
  }

  .review__title {
    padding-top: 45px;

    font-size: 60px;
    line-height: 60px;
  }
  
  .review__stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    margin-bottom: 99px;
  }

  .review__stats-list {
    grid-column: 1 / 3;
    margin-bottom: 99px;
  }

  .review__stats-text {
    width: 174px;
    font-size: 20px;
    grid-column: 4 / 5;

    text-align: right;
  }

  .review__text {
    margin-bottom: 55px;
    grid-column: 1 / 5;

    font-size: 16px;
    line-height: 24px;
  }

  .review__slider {
    width: 100%;
    margin: 0;

    background: linear-gradient(to bottom,#ffffff 151px,#eaeaea 151px 384px);
  }
}

@media (min-width: $desktop-width) {
  .review {
    @include container();
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .review__title,
  .review__stats,
  .review__slider {
    width: auto;
    margin: 0;
    padding: 0;
  }


  .review__title {
    padding-bottom: 76px;
    grid-column: span 2;
  }
}
