.site-list {
  @include list();
}

.site-list__item {
  text-align: center;
}

.site-list__link {
  @include link();
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;

  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  border-bottom: #E6E6E6 solid 1px;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    column-gap: 33px;
  }

  .site-list__link {
    padding-top: 39px;
    padding-bottom: 10px;

    font-size: 18px;
    line-height: 24px;
    border: none;

    &--current {
      border-bottom: 2px solid $primary-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    &--light .site-list__link {
      color: #FFFFFF;

      &--current {
        border-color: #FFFFFF;
      }
    }
  }

  .site-list__link {
    padding-top: 71px;

    &--current {
      border-color: $primary-color;
    }
  }
}
