.site-list {
  @include list();
}

.site-list__item {
  text-align: center;
}

.site-list__link {
  @include link();
  display: block;
  padding: 22px 10px 24px 10px;

  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  overflow-wrap: break-word;

  border-bottom: #e6e6e6 solid 1px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 33px;
    row-gap: 20px;
  }

  .site-list__link {
    padding: 0;
    padding-top: 39px;
    padding-bottom: 6px;

    font-size: 18px;
    line-height: 24px;
    border: none;

    &--current {
      border-bottom: 2px solid $primary-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    padding-left: 132px;
    column-gap: 34px;

    &--light .site-list__link {
      color: #ffffff;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }

      &--current {
        border-color: #ffffff;
      }
    }
  }

  .site-list__link {
    padding-top: 74px;
    padding-bottom: 10px;

    font-size: 20px;

    &--current {
      border-color: $primary-color;
    }
  }
}
