.slider {
  position: relative;
  padding-bottom: 35px;

  font-size: 16px;
}

.slider__swiper {
  position: absolute;
  padding: 0;
  width: 4px;
  height: 256px;
  top: 0;
  left: 49%;

  border: none;
  border-radius: 2px;
  background-color: #666666;
  z-index: 4;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 42%;
    left: -18px;
    width: 40px;
    height: 40px;
  
    border: 2px solid #666666;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 5;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 46%;
    left: -10px;
    width: 24px;
    height: 18px;
  
    mask-image: url("../../images/icons/stack.svg#thumb");
    background-color: #666666;
    z-index: 6;
  }

  &:hover,
  &:hover::after {
    background-color: $primary-color;
  }

  &:hover::before {
    border-color: $primary-color;
  }

  &:active,
  &:active::after {
    background-color: rgba(94, 170, 47, 0.6);;
  }

  &:active::before {
    border-color: rgba(94, 170, 47, 0.6);
  }
}

.slider__images {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto;
}

.slider__images-wrapper {
  overflow: hidden;

  &:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    z-index: 2;
  }

  &:last-child {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    padding-bottom: 96px;
  }
  
  .slider__images {
    grid-template-columns: repeat(2, 280px);
    justify-content: center;
  }

  .slider__swiper {
    height: 512px;
    left: 50%;

    &::after {
      top: 48%;
      left: -10px;
    }
    
    &::before {
      top: 46%;
      left: -19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__images {
    margin-left: 50px;
  }

  .slider__swiper {
    left: 54%;
  }
}

