.slider {
  position: relative;

  font-size: 16px;
}

.slider__swiper {
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 108px;
    left: 44%;
    width: 40px;
    height: 40px;

    background-image: url("../../images/icons/stack.svg#thumb");
    z-index: 5;
  }

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 0;
    left: 140px;
    width: 4px;
    height: 256px;

    border-radius: 2px;
    background-color: #666666;
    z-index: 4;
  }

  &:hover::after,
  &:hover::before {
    background-color: $primary-color;
    fill: $primary-color;
  }

  &:active::after,
  &:active::before {
    background-color: #5EAA2F;
  }
}

.slider__images {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto;
}

.slider__images-wrapper {
  overflow: hidden;

  &:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    z-index: 2;
  }

  &:last-child {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: $tablet-width) {
  .slider__images {
    grid-template-columns: repeat(2, 278px);
    justify-content: center;
  }

  .slider__swiper {
    &::after {
      top: 45%;
      left: 48%;
    }
    
    &::before {
      height: 512px;
      left: 50%;
    }
  }
}

