.socials {
  @include list();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  font-size: 16px;
}

.socials__link {
  @include link();
  display: block;
  position: relative;
  width: 28px;
  height: 22px;
  margin-top: 20px;

  &::after {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    
    background-color: #666666;
  }

  &--vk::after {
    mask-image: url("../../images/icons/stack.svg#vkontakte");
  }

  &--youtube::after {
    mask-image: url("../../images/icons/stack.svg#youtube");
  }

  &--telegram::after {
    mask-image: url("../../images/icons/stack.svg#telegram");
  }

  &:hover::after {
    background-color: $primary-color;
  }

  &:focus::after {
    opacity: 0.3;
  }
}
