.target {
  @include container();
  margin-bottom: 20px;
}

.target__list {
  @include list();
}

.target__list-item {
  padding: 20px;
  margin-bottom: 20px;

  background-color: $basic-text-background;
}

.target__title {
  position: relative;
  margin: 0;
  padding: 10px 0 29px 70px;

  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 4px;

    background-repeat: no-repeat;
  }

  &--slim::before {
    width: 50px;
    height: 53px;
    left: 0;

    background-image: url("../../images/icons/stack.svg#catalog-slim");
  }

  &--pro::before {
    width: 67px;
    height: 50px;
    left: -7px;

    background-image: url("../../images/icons/stack.svg#catalog-pro");
  }
}


.target__text {
  font-family: $secondary-font;
  line-height: 18px;
  color: $paragraf-font-color;
}

.target__link {
  @include link();
  position: relative;
  padding-right: 47px;

  text-align: center;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 100px;
    width: 25px;
    height: 12px;

    background-image: url("../../images/icons/stack.svg#icon-arrow");
    background-repeat: no-repeat;
    transition: width .1s;
  }

  &:hover::after {
    width: 32px;
  }
}

@media (min-width: $desktop-width) {
  .target__list {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
  }
}
